{% extends 'base.html' %}

{% block content %}
<div class="card shadow-lg border-0 bg-white text-dark">
    <div class="card-header bg-body-tertiary text-dark border-bottom border-2">
        <h5 class="mb-0 fw-semibold">Nuevo Pedido</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Cliente</label>
                {{ form.cliente }}
                {% if form.cliente.errors %}
                    <div class="text-danger small mt-1">{{ form.cliente.errors|join:", " }}</div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha</label>
                <div class="d-flex gap-2">
                    {{ form.fecha }}
                    <button type="button" 
                            class="btn btn-outline-warning btn-sm"
                            onclick="ponerHoy()">
                        Hoy
                    </button>
                </div>
                {% if form.fecha.errors %}
                    <div class="text-danger small mt-1">{{ form.fecha.errors|join:", " }}</div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label">Estado</label>
                {{ form.estado }}
                {% if form.estado.errors %}
                    <div class="text-danger small mt-1">{{ form.estado.errors|join:", " }}</div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between">
                <a href="/" class="text-dark text-decoration-none small icon-hover">
                    ← Volver
                </a>
                <button type="submit" class="btn btn-danger">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<script>
function ponerHoy() {
    const inputFecha = document.querySelector('input[name="fecha"]');

    const hoy = new Date();
    const year = hoy.getFullYear();
    const month = String(hoy.getMonth() + 1).padStart(2, '0');
    const day = String(hoy.getDate()).padStart(2, '0');

    inputFecha.value = `${year}-${month}-${day}`;
}
</script>
{% endblock %}








