{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm border-0">

    
    <div class="card-header bg-white border-bottom">
        <h5 class="mb-0 fw-semibold">Nuevo Producto</h5>
    </div>

    <div class="card-body">

        <form method="post">
            {% csrf_token %}

            
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                    <div class="text-danger small mt-1">{{ form.nombre.errors|join:", " }}</div>
                {% endif %}
            </div>

            
            <div class="mb-3">
                <label class="form-label">Precio</label>
                {{ form.precio }}
                {% if form.precio.errors %}
                    <div class="text-danger small mt-1">{{ form.precio.errors|join:", " }}</div>
                {% endif %}
            </div>

            
            <div class="mb-3">
                <label class="form-label">Stock</label>
                {{ form.stock }}
                {% if form.stock.errors %}
                    <div class="text-danger small mt-1">{{ form.stock.errors|join:", " }}</div>
                {% endif %}
            </div>

            
            <div class="d-flex justify-content-between">

                <a href="/productos/" class="text-muted text-decoration-none small icon-hover">
                    ← Volver
                </a>

                <button type="submit" class="btn btn-dark">
                    Guardar
                </button>

            </div>

        </form>

    </div>
</div>

{% endblock %}
